apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  namespace: dk8s
  labels: 
    app: nginx-deployment
spec:
  replicas: 10
  selector:
    matchLabels:
      app: nginx-deployment
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: nginx-deployment
    spec:
      containers:
      - image: nginx:1.16.0
        name: nginx
        resources:
          limits: 
            cpu: "0.5"
            memory: "256Mi"
          requests:
            cpu: "0.3"
            memory: "128Mi"
